.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}
.App h3{
  margin-right: 80%;
  padding-right: 100px;
  /* padding-bottom: 20px; */
}

.input-form {
    padding-top: 20px;
    input[type="text"] {
      padding: 10px;
      margin-right: 200px;
      border-bottom: 1px solid black;
      border-radius: 10px;
      color: black;
      width: 95%;     
    }
}

input::placeholder { 
  text-align: left; 
} 

.input-form button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 52px;
  text-align: center;
  font-size: 20px;
  margin-right: 100%;
}

.display-postal-data{
  /* padding-top: 20px; */
    padding: 10px;
    margin-right: 200px;
    border-bottom: 1px solid black;
    border-radius: 10px;
    color: black;
    width: 95%;  
    
}

.results-display {
 /* display: flex; */
  width: 100%;
 
}

.results-display .error {
  color: red;
}

.results-display ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;

}

.results-display li {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 40px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

.loader {
  font-size: 18px;
  font-weight: bold;
}